*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    border: 2px solid yellow;
    box-shadow: 2px 4px 2px  greenyellow;
}
body:hover{
    background-color: black;

}
section{
    text-align: center;
    margin: 300px auto;
}
button{
    width: 200px;
    height: 75px;
    position: relative;
    border: 3px solid orange;
    background-color: black;
    color: orange;
    font-size: 1.4rem;
    transition: all ease-in;
    /* box-shadow: 0px 2px 3px rgba(104, 104, 104); */

}
button:hover{
    width: 200px;
    height: 75px;
    border: 3px solid greenyellow;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    box-shadow: 0px 8px 10px rgb(93, 168, 43);
    cursor: pointer;
    top: -5px;
}
